@import "colors";
@import "common-blocks";
@import "fonts";

.width-component-fix {
  width: 100%;
}

/* common */
.spm-app {
  .regular;
  height: 100%;
  left:0;
  position: absolute;
  top: 0;
  width: 100%;

  &__content {
    height: 100%;
    margin: 50px 50px 0 300px; 
    min-height: 0;
    position: relative;
  }
}

.spm-input {
    border: none;
    border-radius: 0;
    color: @primary-text;
    font-size: 1.2em;
    height: 35px;
    outline: none;
    padding: 0 5px;
    .medium;
    box-shadow: 0 4px 0 -2px @hint-text;

    &:focus {
      box-shadow: 0 4px 0 -2px @accent-color;
    }

    &::-webkit-input-placeholder {
      color: @hint-text;
    }
}

.spm-button {
  background: @accent-color;
  border: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .48);
  color: #fff;
  font-size: 1em;
  height: 35px;
  .medium;
  width: 100px;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .48),
                0 2px 10px rgba(0, 0, 0, .24);
  }

  &:focus {
    border: none;
    outline: none;
  }
}
