@import "../../styles/common-blocks";

/* desktop */

.spm-packages-page {
  display: flex;

  &__list {
    .card;
    //margin-right: 30px;
    width: 100%;
  }

  &__filter {
    .card;
    height: 300px;
    width: 300px;
  }
}