@import "../../styles/common-blocks";
@import "../../styles/colors";

/* common */
.spm-header {
  /* geometry */
    height: 70px;
    margin-left: 250px;
    position: relative;
  /* end */

  .card;
  align-items: center;
  justify-content: center;
  display: flex;
  
}
